In [23]:
data=[
    [2000,3050,2050,1980],
    [7500,2050,2050,1980],
    [15450,15050,15550,14900]
]
commission_rate=0.014/100
#수수료 0.014%,각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력
for row in data:
    for price in row:
        last_price=price*(1+commission_rate)
        print(last_price)
    print("-"*20)

2000.28
3050.427
2050.2870000000003
1980.2772
--------------------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
--------------------
15452.163
15052.107
15552.177
14902.086000000001
--------------------

In [31]:
#결과값을 result이름의 리스트에 1차원 배열로 저장
result=[]
for row in data:
    for price in row:
        last_price=price*(1+commission_rate)
        result.append(last_price)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
'''
[
    [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
    [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
    [15452.163, 15052.107, 15552.177, 14902.086000000001]
]
'''

In [37]:
#결과값을 result이름의 리스트에 2차원 배열로 저장
result=[]
for row in data:
    sub=[]
    for price in row:
        last_price=price*(1+commission_rate)
        sub.append(last_price)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [66]:
ohlc=[["open","high","low","close"],
      [100,110,70,100],
      [200,210,180,190],
      [300,310,300,310]]

#종가데이터만 출력
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [68]:
#종가가 150보다 큰 경우에만 종가 출력
for i in ohlc[1:]:
    if i[3]>150:
        print(i[3])

190
310

In [70]:
#종가가 시가보다 크거나 같은 경우에만 종가출력
for i in ohlc[1:]:
    if i[3]>=i[0]:
        print(i[3])

100
310

In [106]:
#고가와 저가의 차이를 변동폭이라하고 리스트로 저장
valuelist=[]

for i in ohlc[1:]:
    value=i[1]-i[2]
    valuelist.append(value)
print(valuelist)

[40, 30, 10]

In [118]:
#종가가 시가보다 높은 날의 변동성(고가-저가) 출력
for i in ohlc[1:]:
    value=i[1]-i[2]
    if i[3]>i[0]:
        print(value)

10

In [126]:
#시가를 매수해서 종가에 매도했을 경우 총 수익금
profit=0
for i in ohlc[1:]:
   profit+=(i[3]-i[0])
print(profit)

0

In [ ]:
'''
메로나 1000
폴라포 1200
빵빠레 1800
'''

In [143]:
#딕셔너리로 
ice={"메로나": 1000,"폴라포": 1200, "빵빠레": 1800}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [146]:
ice['죠스바']=1200
ice['월드콘']=1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [150]:
#메로나 가격 출력
print("메로나 가격:",ice["메로나"])

메로나 가격: 1000

In [152]:
"수박바" in ice.keys()

False

In [157]:
#메로나 가격 1200원으로 수정
ice["메로나"]=1200   #수정과 입력방식 같음
ice

{'메로나': 1200, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [167]:
#메로나 삭제
del ice["메로나"]
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
''' 제품명 가격 재고
메로나 300 20
비비빅 400 3
죠스바 250 100
'''

In [196]:
inventory={"메로나": [300 ,20],
           "비비빅": [400, 3], 
           "죠스바": [250, 10]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10]}

In [192]:
print(f"메로나 가격: {inventory["메로나"][0]}원")
print(f"메로나 재고: {inventory["메로나"][1]}개")

메로나 가격: 300원
메로나 재고: 20개

In [198]:
inventory["월드콘"]=[500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10], '월드콘': [500, 7]}

In [204]:
list(inventory.keys())

['메로나', '비비빅', '죠스바', '월드콘']

In [209]:
icecream={'탱크보이':1200, '폴라포':1200, '빵빠레':1800, '월드콘':1500, '메로나':1000}
print(sum(icecream.values()))

6700

In [212]:
new_product={'팥빙수':2700, '아맛나':100}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 100}

In [216]:
keys=("apple","pear","peach")
vals=(300,250,400)
for i in zip(keys, vals):
    print(i)
result=dict(zip(keys,vals))
result

('apple', 300)
('pear', 250)
('peach', 400)

{'apple': 300, 'pear': 250, 'peach': 400}

In [218]:
date=['09/05','09/06','09/07','09/08','09/09']
close_price=[10500,10300,10100,10800,11000]
close_table=dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [223]:
midterm={'도윤':43,'하윤':82,'시우':76,'지유':61,'주원':94}
student=input('어떤 학생의 점수가 궁금한가요?')

if student in midterm.keys():
    print(midterm[student],"점 입니다.")
else:
    print("해당 학생이 없습니다.")

어떤 학생의 점수가 궁금한가요? 도윤

43 점 입니다.

## 함수

In [232]:
def intro(name):
    print(f"{name}님 안녕하세요")
intro("홍길동")
intro("이도현")

홍길동님 안녕하세요
이도현님 안녕하세요

In [238]:
def add(a,b):
    print(a+b)
add(4,5)
add(5,7)

9
12

In [240]:
def print_smile(string):
    print(string+" ^^")
print_smile("안녕하세요")

안녕하세요 ^^

In [242]:
def print_star(string):
    print("*" +string)
print_star("즐거운 금요일")

*즐거운 금요일

In [256]:
def printn(string):
    print(string,end="")
printn("즐거운 금요일")
printn("행복해요~^^😊😊😊😊")

즐거운 금요일행복해요~^^😊😊😊😊

In [258]:
def vat(price):
    print(price*1.1)
vat(1000)

1100.0

In [264]:
def print_score(score_list):
    print(sum(score_list)/len(score_list))   #평균

s=[98,95,90]
print_score(s)

94.33333333333333

In [272]:
def print_even(mylist):
    for v in mylist:
        if v%2==0:
            print(v)
print_even([1,3,2,10,12,11,15])

2
10
12

In [274]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)
print_keys({"이름":"김말똥","나이":30,"성별":0})

이름
나이
성별

In [295]:
my_dict={"10/26":[100,130,50,90],
         "10/27":[10,12,10,11]}

def print_value_by_key(my_dict,key,min_limit):
    print(my_dict[key])
    print([value for value in my_dict[key] if value>=min_limit])
    
print_value_by_key(my_dict,"10/26",100)
print_value_by_key(my_dict,"10/27",11)

[100, 130, 50, 90]
[100, 130]
[10, 12, 10, 11]
[12, 11]

In [2]:
def print_Sxn(line):
    chunk_num=int(len(line)/5)
    for x in range(chunk_num+1):
        print(line[x*5:x*5+5])
        
print_Sxn("아이엠어보이유알어걸오")

아이엠어보
이유알어걸
오

In [12]:
def print_xn(line,limit):
    chunknum=int(len(line)/limit)
    for x in range(chunknum+1):
        print(line[x*limit:x*limit+limit])
print_xn("아이엠어보이유알어걸오",3)
print_xn([1,2,3,4,5,6,7,8,9],4)

아이엠
어보이
유알어
걸오
[1, 2, 3, 4]
[5, 6, 7, 8]
[9]

In [32]:
def printxn(line,limit):
    chunknum=int(len(line)/limit)
    addnum=1 if len(line) % limit !=0 else 0
    result=[]
    for x in range(chunknum+addnum):
        result.append(line[x*limit:x*limit+limit])
    return tuple(result)
val=printxn("아이엠어보이유알어걸오",5)
print(val)
print(val[0])

('아이엠어보', '이유알어걸', '오')
아이엠어보

In [40]:
def cal_monthly_salary(annual_pay):
    monthly_pay=int(annual_pay/12)
    return monthly_pay
print(cal_monthly_salary(50000000))

4166666