In [30]:
#월급계산
def cal_monthly_salary(annual_pay):
    monthly_pay=int(annual_pay/12)
    return monthly_pay
print(cal_monthly_salary(50000000))

4166666

In [32]:
def make_url(domain):
    #return "https://" + "www." +domain+ ".com"
    #return(f" https://www.{domain}.com")
    return "https://www.{}.com".format(domain)
print(make_url("naver"))

https://www.naver.com

In [60]:
#학점 백분율 구하기
def grade(score,total):
    percent= (score/total)*100
    return percent

score=4.1
total=4.5
percent=grade(score,total)
print(f"{score}점은 백분율로 {percent:.2f}점입니다.")

4.1점은 백분율로 91.11점입니다.

##### 표만들기

In [101]:
def generate_html_table(rows, cols):
    table = '<table border="1">\n'
    
    for i in range(rows):
        table += ' <tr>\n'
        for j in range(cols):  
            table += f' <td>{i+1},{j+1}</td>\n'
        table += ' </tr>\n'
        
    table += '</table>'
    return table

print(generate_html_table(5, 3))

<table border="1">
 <tr>
 <td>1,1</td>
 <td>1,2</td>
 <td>1,3</td>
 </tr>
 <tr>
 <td>2,1</td>
 <td>2,2</td>
 <td>2,3</td>
 </tr>
 <tr>
 <td>3,1</td>
 <td>3,2</td>
 <td>3,3</td>
 </tr>
 <tr>
 <td>4,1</td>
 <td>4,2</td>
 <td>4,3</td>
 </tr>
 <tr>
 <td>5,1</td>
 <td>5,2</td>
 <td>5,3</td>
 </tr>
</table>

In [107]:
from IPython.display import HTML, display

def generate_html_table(rows, cols):
    table = '<table border="1">\n'
    
    for i in range(rows):
        table += ' <tr>\n'
        for j in range(cols):  
            table += f' <td style="border: 1px solid black; padding:8px;">{i+1},{j+1}</td>\n'
        table += ' </tr>\n'
        
    table += '</table>'
    return table

display(HTML(generate_html_table(3, 2)))

In [134]:
def calculate(i,j):
    sum=i+j
    diff=i-j
    return sum,diff
    
sum,diff=calculate(10,5)  
print(sum)
print(diff)

15
5

In [138]:
x=10
y=5

def update_x():
    global x  
    x=20
    y=20
    print("함수 안에서 호출한 x와 y값:", x,y)

update_x()
print("함수 밖에서 호출한 x와 y값:", x,y)   #y는 함수안에서만 , x는 global써서 전역변수로 수정됨

함수 안에서 호출한 x와 y값: 20 20
함수 밖에서 호출한 x와 y값: 20 5

### 집합
##### 순서가 없고, 중복을 허용하지 않음

In [142]:
s=set("Hello")
s

{'H', 'e', 'l', 'o'}

In [148]:
s1=[1,2,3,4,5]
s2=set(s1)
s2

{1, 2, 3, 4, 5}

In [150]:
t1=tuple(s2)
s2

{1, 2, 3, 4, 5}

In [158]:
s1=set([1,2,3,4,5])
s2=set([3,4,5,6,7,8])
s1&s2  #교집합

{3, 4, 5}

In [162]:
s1.intersection(s2)  #교집합

{3, 4, 5}

In [168]:
s1|s2  #합집합(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [172]:
s1-s2  #차집합(difference)

{1, 2}

In [178]:
s1=set([1,2,3])
s1.remove(2)   #특정값 제거
s1

{1, 3}

### 람다함수

In [181]:
lambda x: x*2
lambda x,y: x+y

In [185]:
def add(a,b):
    return a+b
r=add(7,8)
r

15

In [195]:
add2=lambda a,b:a+b
k=add2(4,5)
k

9

In [199]:
def getStrLength(s):
    return len(s)
getStrLength2=lambda s:len(s)
getStrLength2("This is my computer!")

20

In [201]:
is_even=lambda x:x%2==0
print(is_even(7))

False

In [207]:
a=([1,2,3,4])
r=[]
for i in a:
    r.append(i+1)
print(r)

[2, 3, 4, 5]

In [211]:
aList=[1,2,3,4]
def add1(x):
    return x+1
r=map(add1,aList)
print(list(r))

[2, 3, 4, 5]

In [213]:
aList=[1,2,3,4]
r=map(lambda x:x+1, aList)
print(list(r))

[2, 3, 4, 5]

In [217]:
aList=[1,2,3,4]
rr=list(map(str,aList))
rr

['1', '2', '3', '4']

In [221]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [225]:
max_value= lambda x,y:x if x>y else y
print(max_value(10,20))

20

In [230]:
numbers=[1,3,5,7,9]
max_value=lambda lst:max(lst) if lst else None
first_value=lambda lst:lst[0] if lst else None
print(max_value(numbers))
print(first_value(numbers))

9
1

In [232]:
alist=[1,2,3,4,5,6,7,8,9,10]
def is_even(x):
    return x%2==0
r=filter(is_even,alist)
print(list(r))

[2, 4, 6, 8, 10]

In [236]:
alist=[1,2,3,4,5,6,7,8,9,10]
r=list(filter(lambda x:x%2==0, alist))
print(r)

[2, 4, 6, 8, 10]

In [254]:
words = ["hello", "world", "python"]
length=list(map(lambda words:len(words),words))
print(length)

[5, 5, 6]

In [256]:
list1=[1,2,3]
list2=[4,5,6]
addlist=list(map(lambda x,y: x+y, list1,list2))
print(addlist)

[5, 7, 9]

In [262]:
words=["banana","apple","cherry"]
sorted_words=sorted(words,key=lambda x:len(x))
print(sorted_words)

['apple', 'banana', 'cherry']

### sorted(ierable,key=None, reverse=False)
<li>iterable:정렬할 대상</li>
<li>key:함수</li>
<li>reverse:True로 설정하면 내림차순 정렬</li>

In [266]:
tuples=[(1,'one'),(3,'three'),(2,'two')]
sorted_tuples=sorted(tuples, key=lambda x:x[0])
print(sorted_tuples)

[(1, 'one'), (2, 'two'), (3, 'three')]

In [270]:
mydict={3:'three', 1:'one', 2:'two'}
sorted_dict_by_key=dict(sorted(mydict.items(), key=lambda x:x[0]))
print(sorted_dict_by_key)

{1: 'one', 2: 'two', 3: 'three'}

In [284]:
words=["hello","world","python"]
w=list(map(lambda words:words.upper(),words))
print(w)

['HELLO', 'WORLD', 'PYTHON']

In [286]:
words = ["hello", "world", "python"]
uppercase_words = list(map(str.upper, words))
print(uppercase_words)

['HELLO', 'WORLD', 'PYTHON']

In [288]:
fruit=['사과','자두','딸기','망고']
price=[1000,3000,2500,6000]
a=list(zip(fruit,price))
a

[('사과', 1000), ('자두', 3000), ('딸기', 2500), ('망고', 6000)]

### 재귀함수

In [300]:
def f(n):
    if n==1:
        return 1
    return n*f(n-1)
print(f(5))

120

In [309]:
def factorial_iterative(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result
print(factorial_iterative(5))

120

In [314]:
def fibonacci(n):
    if n<=1:
        return n
    return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(9))
#0,1,1,2,3,5,8,13,21,34

34

In [318]:
def list_sum(arr):
    if len(arr)==0:
        return 0
    return arr[0] + list_sum(arr[1:])
print(list_sum([1,2,3,4,5]))

15

## 가변인자 *args,  **kwargs
인자의 개수 자유롭게 조절

In [345]:
del sum
def sum_numbers(*args):
    return sum(args)
print(sum_numbers(1,2,3,4))

10

In [339]:
def concatenate_strings(*args):
    print(args)
    return ''.join(args)
print(concatenate_strings('Hello','World','How are you?'))

('Hello', 'World', 'How are you?')
HelloWorldHow are you?

In [341]:
def max_value(*args):
    return max(args)
print(max_value(10,20,50,3))

50

In [365]:
def average_num(*args):
    return sum(args)/len(args)
print(average_num(10,20,30))

20.0

In [367]:
def remove_duplicates(*args):
    return list(set(args))
print(remove_duplicates(1,2,3,3,4,4,5,5,5,6))

[1, 2, 3, 4, 5, 6]

In [369]:
def print_user_info(name,age,*args):
    print(f"Name: {name}")
    print(f"Age: {age}")

    if args:
        print("Addtional Information:")
        for info in args:
            print(f"- {info}")
print_user_info("Alice",30,"New York", "555-1234","Like Python")
print_user_info("Bob",25)

Name: Alice
Age: 30
Addtional Information:
- New York
- 555-1234
- Like Python
Name: Bob
Age: 25

In [383]:
def print_user_info(**kwargs):
    #print(type(kwargs))
    #print(kwargs)
    for key, value in kwargs.items():
        print(f"{key}: {value}")
print_user_info(name='Alice', age=30, city='New York')

name: Alice
age: 30
city: New York

In [377]:
def greet(**kwargs):
    name=kwargs.get('name','Guest')
    print(f"Hello, {name}!")
greet(name='Bob')
greet()

Hello, Bob!
Hello, Guest!

In [389]:
def save_settings(**kwargs):
    settings={}
    for key, value in kwargs.items():
        settings[key]=value
    return settings
    
save_settings(volume=75, brightness=80, theme='dark')

{'volume': 75, 'brightness': 80, 'theme': 'dark'}

In [399]:
def custom_error(message, **kwargs):
    error_details = f"Error: {message}"
    for key, value in kwargs.items():
        error_details += f"\n{key}: {value}" 
    return error_details

print(custom_error("File not found", filename="example.txt", line=42))

Error: File not found
filename: example.txt
line: 42

In [407]:
def add_mul(choice,*args):
    if choice=="add":   #choice:add 또는 mul 중 하나의 문자열을 받아 함수가 덧셈을 할지 곱셈을 할지 결정
        result=0
        for i in args:
            result=result+i
    elif choice=="mul":
        result=1
        for i in args:
            result=result*i
    return result

add_mul('add',1,2,3,4,5)

15

In [411]:
def take_order(customer_name, *menu_items):  #*args는 관례적인 이름일 뿐, * 뒤에 오는 이름은 마음대로 정할 수 있
    # print(f"Order for {customer_name}:")
    # for item in menu_items:
    #     print(f"- {item}")
    order={
        "customer":customer_name,
        "items":list(menu_items)
    }
    return order
take_order("Alice","Burger","Fries","Soda")

{'customer': 'Alice', 'items': ['Burger', 'Fries', 'Soda']}

In [417]:
def average_workout_duration(*durations):
    if not durations:
        return 0
    return sum(durations)/len(durations)
average_workout_duration(30,45,60)

45.0