//:몫
%:나머지

In [47]:
c=5
c+=2
print(c)
c*=2
print(c)
c/=7
print(c)

7
14
2.0

In [49]:
c=5
d=c**2     # **:제곱
print(d)

25

포맷팅

In [5]:
a="I eat %d apples." % 3
print(a)

I eat 3 apples.

In [6]:
a="I eat %s apples." % "five"
print(a)

I eat five apples.

In [7]:
number=3
"I eat %d apples." % number
print(a)

I eat five apples.

%쓰고싶을 땐 %%를 연달아쓰기

In [9]:
number=10
day="three"
a="I ate %d%% apple, so I was sick for %s days." % (number,day)
print(a)

I ate 10% apple, so I was sick for three days.

In [10]:
str1="|%10s|" % "hi"
print(str1)
str2="|%-10s|" % "hi"    #음수로 하면 글자는 왼쪽 두고 공백
print(str2)

|        hi|
|hi        |

In [11]:
a="|%.4f|" % 3.42134234
b="|%10.2f|" % 3.42134234   #10자리 공간확보후 소수점 둘째자리까지
print(a,b)

|3.4213| |      3.42|

format함수를 활용한 포맷

In [13]:
이름="김철수"
나이=25
print("{}님은 {}살입니다." .format(이름,나이))

김철수님은 25살입니다.

In [14]:
a="I eat {} apples.".format(3)
print(a)

I eat 3 apples.

In [15]:
number=10
day="three"
#a="I ate {} apple, so I was sick for {} days." .format(number,day)
a="I ate {0} apple, so I was sick for {1} days." .format(number,day)  #인덱스로 조정 가능
print(a)

I ate 10 apple, so I was sick for three days.

In [16]:
b="I ate {number} apples, so I was sick for {days} days.".format(number=10,days=3)
print(b)

I ate 10 apples, so I was sick for 3 days.

In [17]:
a="|{:<10}|".format("hi")
b="|{:>10}|".format("hi")
c="|{:^10}|".format("hi")
d="|{:#^10}|".format("hi")
e="|{:@>10}|".format("hi")
f="|{:0<10}|".format("hi")
print(a,b,c,d,e,f,sep="\n")

|hi        |
|        hi|
|    hi    |
|####hi####|
|@@@@@@@@hi|
|hi00000000|

In [18]:
name1="김민수"
age1=10
name2="이철희"
age2=13
print("이름:{} 나이:{}" .format(name1,age1))
print("이름:{} 나이:{}" .format(name2,age2))

이름:김민수 나이:10
이름:이철희 나이:13

In [51]:
name3=input("이름을 입력하세요:")
age3=input("나이를 입력하세요:")
print("안녕하세요, {}님! 당신의 나이는 {}세입니다.".format(name3,age3))

이름을 입력하세요: 홍길동
나이를 입력하세요: 45

안녕하세요, 홍길동님! 당신의 나이는 45세입니다.

In [53]:
y=3.42134234
a="{0:0.4f}".format(y)
print(a)

3.4213

In [55]:
상품명=input("상품을 입력하세요")
가격=float(input("가격을 입력하세요"))
print("상품명: {}, 가격: {:.2f}원".format(상품명, 가격))

상품을 입력하세요 마라탕
가격을 입력하세요 3546

상품명: 마라탕, 가격: 3546.00원

In [57]:
number=5
output="숫자: {:04d}".format(number)   #4글자로 맞춤
print(output)

숫자: 0005

In [59]:
number=123456789
output="가격: {:,.2f}원".format(number)
print(output)

가격: 123,456,789.00원

In [61]:
a="{2} {3}".format(1,2,3,4,5)    #인덱스로
print(a)

3 4

In [63]:
a="{0} {1} {1}".format(1,2)    #인덱스로
print(a)

1 2 2

f문자열 포맷팅

In [65]:
이름1="김철수"
나이1=24
print(f"나의 이름은 {이름}입니다. 나이는 {나이}살입니다.")

나의 이름은 김철수입니다. 나이는 25살입니다.

In [67]:
age=30
a=f'나는 내년이면 {age+1}살이 된다.'
print(a)

나는 내년이면 31살이 된다.

In [69]:
d={'name':'홍길동',  'age':30}
print(f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}살입니다.")

나의 이름은 홍길동입니다. 나이는 30살입니다.

In [71]:
number=123456789
output=f"가격: {number:,}원"
print(output)

가격: 123,456,789원

In [73]:
x=10
y=5
print(f"x+y의 값은 {x+y}입니다.")

x+y의 값은 15입니다.

In [75]:
price=15000
discount_rate=0.2
finalprice=price*(1-discount_rate)
print(f"원래가격: {price:.2f}원, 할인율: {discount_rate*100:.0f}%, 최종가격: {finalprice:.2f}원")

원래가격: 15000.00원, 할인율: 20%, 최종가격: 12000.00원

In [77]:
price=50000
tax_rate=0.1
taxfinal=price*tax_rate
final_price=price+taxfinal
print(f"상품가격: {price:.2f}원, 세금:{taxfinal:.2f}원, 최종가격: {price+taxfinal:.2f}원")

상품가격: 50000.00원, 세금:5000.00원, 최종가격: 55000.00원

In [79]:
a="hobby"
print(len(a))
print(a.count('b'))    #b가 몇개있는지
print(a.find('b'))     #위치
print(a.index('b'))    #위치
print(a.find('i'))     #문자 없으면 -1나옴
#print(a.index('i'))는 에러뜸

5
2
2
2
-1

In [81]:
a="1,2,3,4,5"
print(a.split(","))

['1', '2', '3', '4', '5']

In [83]:
a=",".join('abcd')
print(a)

a,b,c,d

strip: 문자열에서 앞뒤의 공백이나 특정 문자를 제거

In [88]:
a=" hi "
print(f"|{a}|")
print(f"|{a.strip()}|")

| hi |
|hi|

In [90]:
a="hi"
a.upper()

'HI'

In [92]:
kor_data = "10011110101010111011"
tot=len(kor_data)
answer=(kor_data.count("1")/tot)*100
print(f"최종 점수:{answer:.2f}점")

최종 점수:65.00점

In [102]:
number=input("전화번호를 입력하세요:")
r=number[0:-9]
print(r)
if r=="02":
    print("서울입니다.")
elif r=="031":
    print("경기도입니다.")

전화번호를 입력하세요: 031-111-2222

031
경기도입니다.

In [104]:
date_input=input("날짜를 입력하세요 (YYYY-MM-DD):").strip()
year=date_input[0:4]
print(year)

날짜를 입력하세요 (YYYY-MM-DD): 2012-12-12

2012

In [106]:
product_code=input("상품 코드를 입력하세요 (예: A123-B456):").strip()
category=product_code[:2]
if category=="A1":
    print("전자제품입니다.")
elif category=="B4":
    print("가전제품입니다.")
else:
    print("알 수 없는 상품 카테고리입니다.")

상품 코드를 입력하세요 (예: A123-B456): A123-E456

전자제품입니다.

In [108]:
print("안녕" in "안녕하세요")
print("하이" in "안녕하세요")

True
False

조건

In [110]:
text="Hello, Wolrd!"
if 'H' in text:
    print("H가 문자열에 포함되어 있어요")
    print("잘했어1")
elif 'W' in text:
    print("W가 문자열에 포함되어 있어요")
    print("잘했어2")
else: 
    print("H가 문자열에 포함되어 있지 않습니다.")
    print("잘했어3")

print("The end!")

H가 문자열에 포함되어 있어요
잘했어1
The end!

In [112]:
a="사과"
if a=="사과":
    print("내꺼")
elif a=="수박":
    print("네꺼")
else: 
    print("안먹어유")

내꺼

In [114]:
score=int(input("점수를 입력하세요: "))
if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
elif score>=60:
    print("D")
else:
    print("F")

점수를 입력하세요:  45

F

In [116]:
a=3
b=4
if a==3 and b==4:
    print ("1")
else: 
    print ("2")

1

In [118]:
number=int(input("점수를 입력하세요: "))
if number%2==0:
    print(f" {number}는 짝수입니다.")
else:
    print(f" {number}는 홀수입니다.")

점수를 입력하세요:  5

 5는 홀수입니다.

In [120]:
age=int(input("나이를 입력하세요:"))  #노인, 성인(65), 청소년(20), 어린이(13) 구분
if age>=65:
    print(f"{age}세는 노인입니다.")
elif age>=20:
    print(f"{age}세는 성인입니다.")
elif age>=14:
    print(f"{age}세는 청소년입니다.")
else:
    print(f"{age}세는 어린이입니다.")

나이를 입력하세요: 54

54세는 성인입니다.

In [122]:
username=input("사용자 이름을 입력하세요:")
password=input("비밀번호를 입력하세요:")
if username=="wjddms" and password=="1234":
    print("로그인 성공")
else: 
    print("로그인 실패")

사용자 이름을 입력하세요: wjddms
비밀번호를 입력하세요: 1234

로그인 성공

In [124]:
temperature=float(input("현재온도를 입력하세요 :"))
if temperature<0:
    print("날씨가 춥습니다.")
elif 0<=temperature<=20:
    print("날씨가 시원합니다.")
elif 20<temperature<=30:
    print("날씨가 따뜻합니다.")
else: 
    print("날씨가 덥습니다.")

현재온도를 입력하세요 : 45

날씨가 덥습니다.

In [126]:
for i in "sejong":
    print(i,end="\n")

s
e
j
o
n
g

In [128]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

구구단

In [130]:
i=2
for j in range(1,10):
    print(f"{i} X {j} = {i*j}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [132]:
for i in range(1,10):
    for j in range(2,10):
            print(f"{j}X{i}={j*i}", end="\t")
    print()

2X1=2	3X1=3	4X1=4	5X1=5	6X1=6	7X1=7	8X1=8	9X1=9
2X2=4	3X2=6	4X2=8	5X2=10	6X2=12	7X2=14	8X2=16	9X2=18
2X3=6	3X3=9	4X3=12	5X3=15	6X3=18	7X3=21	8X3=24	9X3=27
2X4=8	3X4=12	4X4=16	5X4=20	6X4=24	7X4=28	8X4=32	9X4=36
2X5=10	3X5=15	4X5=20	5X5=25	6X5=30	7X5=35	8X5=40	9X5=45
2X6=12	3X6=18	4X6=24	5X6=30	6X6=36	7X6=42	8X6=48	9X6=54
2X7=14	3X7=21	4X7=28	5X7=35	6X7=42	7X7=49	8X7=56	9X7=63
2X8=16	3X8=24	4X8=32	5X8=40	6X8=48	7X8=56	8X8=64	9X8=72
2X9=18	3X9=27	4X9=36	5X9=45	6X9=54	7X9=63	8X9=72	9X9=81

In [134]:
for i in range(1,11):
    print(i* "*")

*
**
***
****
*****
******
*******
********
*********
**********

In [136]:
for i in range(1,11):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [138]:
#1부터 10까지의 합
total=0
for i in range(1,11):
    total+=i
print(total)

55

In [140]:
fruits=["사과","바나나","체리"]
for fruit in fruits:
    print(f"과일: {fruit}")

과일: 사과
과일: 바나나
과일: 체리

In [142]:
for i in range(1,11):
    if i%2==0:   #pass는 조건 실행X
        print(i)

2
4
6
8
10

In [144]:
numbers=[10,20,30,40,50]
target=30
found=False

for number in numbers:
    if number==target:
        found=True
        break

if found:
    print(f"{target}이 리스트에 있습니다.")
else:
    print(f"{target}이 리스트에 없습니다.")

30이 리스트에 있습니다.

In [146]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [148]:
marks=[90,25,67,45,80]
number=0
for i in marks:
    number+=1
    if i>=60:
        print(f"{number}번 학생은 합격입니다.")
    else: 
        print(f"{number}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [150]:
marks=[90,25,67,45,80]
number=0
for i in marks:
    number+=1
    if i < 60:
        continue
    print(f"{number}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [152]:
marks=[90,25,67,45,80]
for i in range(len(marks)):
    if marks[i]<60:
        continue
    print(f"{i+1}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [154]:
#모음 개수
text="Hello, World"
vowels="aeiouAEIOU"
number=0
for i in text:
    if i in vowels:
        number+=1
print(f"모음 개수: {number}")

모음 개수: 3

isalpha():문자열이 알파벳 문자로만 구성되어있는지

isdigit():문자열이 알파벳 숫자로만 구성되어있는지

isalnum():문자열이 알파벳 문자와 숫자만 포함하고 있는지

isspace():문자열이 공백문자(스페이스, 탭 등)으로만 구성되어있는지

In [157]:
text="Hello2"
print(text.isalpha())

False

In [159]:
text="hello"
print(text.islower())   #문자열의 모든 문자가 소문자인지

True

In [161]:
text="hello    "
print(text.isspace())   #문자열이 공백문자(스페이스, 탭 등)으로만 구성되어있는지

False

In [163]:
text="Hello123, World456!"
numbers=""
for i in text:
    if i.isdigit():
        numbers+=i
print(f"추출된 숫자: {numbers}")

추출된 숫자: 123456

In [165]:
text="Hello123, World456!"
upper=""
for i in text:
    if i.isupper():
        upper+=i
print(f"대문자만 추출된 문자열: {upper}")

대문자만 추출된 문자열: HW

In [167]:
text="Hello, World!"
reversed_text=""

for i in text:
    reversed_text=i+reversed_text
print(f"역순 문자열: {reversed_text}")

역순 문자열: !dlroW ,olleH

In [169]:
treeHit=0
while treeHit<10:
    treeHit=treeHit+1
    print(f"나무를 {treeHit}번 찍었습니다.")
    if treeHit==10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [171]:
coffee=3
money=300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee-=1
    print(f"남은 커피 양은 {coffee}개 입니다.")
    if coffee==0:
        print("커피가 떨어졌어요. 판매중지합니다")
        break

돈을 받았으니 커피를 줍니다.
남은 커피 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피 양은 0개 입니다.
커피가 떨어졌어요. 판매중지합니다

In [175]:
#커피 한 잔 300원
#300원초과시 커피랑 거스름돈
#300원 미만 거스름돈 돌려주고 커피 안줌
#커피 10잔 다 떨어지면 판매중지

coffee=10
perMoney=300
while True:
    money=int(input("돈을 넣어주세요"))
    if money==perMoney:
        coffee-=1
        print("커피를 줍니다")
    elif money>perMoney:
        coffee-=1
        print("커피를 줍니다.")
        print("거스름돈을 줍니다")
    else:
        print("커피를 주지 않습니다")
        print("돈을 돌려 줍니다")
        print("금액이 부족합니다")
    if coffee==0:
        print("커피가 다 떨어졌습니다.","판매를 중지합니다.")
        break

돈을 넣어주세요 300

커피를 줍니다

돈을 넣어주세요 5222

커피를 줍니다.
거스름돈을 줍니다

돈을 넣어주세요 600

커피를 줍니다.
거스름돈을 줍니다

돈을 넣어주세요 41515

커피를 줍니다.
거스름돈을 줍니다

돈을 넣어주세요 1616

커피를 줍니다.
거스름돈을 줍니다

돈을 넣어주세요 215

커피를 주지 않습니다
돈을 돌려 줍니다
금액이 부족합니다

돈을 넣어주세요 222

커피를 주지 않습니다
돈을 돌려 줍니다
금액이 부족합니다

돈을 넣어주세요 300

커피를 줍니다

돈을 넣어주세요 500

커피를 줍니다.
거스름돈을 줍니다

돈을 넣어주세요 500

커피를 줍니다.
거스름돈을 줍니다

돈을 넣어주세요 500

커피를 줍니다.
거스름돈을 줍니다

돈을 넣어주세요 5000

커피를 줍니다.
거스름돈을 줍니다
커피가 다 떨어졌습니다. 판매를 중지합니다.